@import "tailwindcss";

@theme inline {
  --color-theme-100: #CCD0CF;
  --color-theme-300: #9BA8AB;
  --color-theme-500: #4A5C6A;
  --color-theme-700: #253745;
  --color-theme-800: #11212D;
  --color-theme-900: #06141B;

  --color-background: var(--color-theme-900);
  --color-foreground: var(--color-theme-100);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}